<div class="sidebar-menu">
    <div class="logo">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
            <span id="logo"></span>
            <!--<img id="logo" src="" alt="Logo"/>-->
        </a>
    </div>
    <div class="menu">
        <ul id="menu">
            <li id="menu-home">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "Advertisement")"><i class="fa fa-sliders"></i><span>Advertisement</span></a>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "Member")"><i class="fa fa-users"></i><span>Member</span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index", "MemberStatus")">Member Status</a></li>
                    <li id="menu-academico-boletim"><a href="price.html">Member Notification</a></li>
                </ul>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "Brand")"><i class="fa fa-tag"></i><span>Brand</span></a>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "PaymentMethod")"><i class="fa fa-paypal"></i><span>Payment Method</span></a>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "Product")"><i class="fa fa-apple"></i><span>Product</span></a>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "Product")"><i class="fa fa-product-hunt"></i><span>Product</span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index", "ProductCategory")">Product Category</a></li>
                </ul>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "ImportBill")"><i class="fa fa-image"></i><span>Import</span></a>
            </li>
            <li id="menu-home">
                <a href="@Url.Action("Index", "Supplier")"><i class="fa fa-server"></i><span>Supplier</span></a>
            </li>

        </ul>
    </div>
</div>