@model IEnumerable<FShop.Web.Models.MemberStatusViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@section header{
    Quản lý trạng thái thành viên
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>
                <button class="btn btn-success btn-plus">
                    <i class="fa fa-plus"></i>
                    Thêm thành viên
                </button>
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <th>Mô tả</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Status</td>
                <td>
                    <button>
                        <i class="fa fa-edit bg-warning btn-edit"></i>
                    </button>
                    <input value="@item.Description" class="hidden" id="description-edit"/>
                    <label>
                        @item.Description
                    </label>
                </td>
                <td>
                    <button class="btn btn-primary btn-update" data-id="@item.ID">Cập nhật</button>
                    <button class="btn btn-danger btn-delete" data-id="@item.ID">Xóa</button>
                </td>
            </tr>
        }
        <tr class="hidden" id="member-status-add">
            <td></td>
            <td>
                <input type="text" placeholder="Mô tả ngắn gọn..." id="txt-description" />
            </td>
            <td>
                <button class="btn btn-success btn-add" data-status="@(Model.LastOrDefault().Status + 1)" >Thêm</button>
            </td>
        </tr>
    </tbody>
</table>

@section script{ 
    <script src="~/Assets/Admin/js/MyScript/MemberStatusScript1.js"></script>
}