@model List<FShop.Web.Models.ImportBillDetailViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    decimal sum = 0;
    try
    {
        sum = Model.Sum(p => p.ImportPrice * p.Count);
    }
    catch (Exception)
    {
        sum = 0;
    }
}

@section css{
    <link href="~/Assets/Admin/css/MyCss/ImportBillDetailStyle.css" rel="stylesheet" />
}

@section header{
    Chi thiết phiếu nhập @(Model.FirstOrDefault() != null ? Model.FirstOrDefault().ImportBillID.ToString(): "")
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Mã sản phẩm</th> 
            <th>Tên sản phẩm</th>
            <th>Giá bán</th>
            <th>Giá khuyến mãi</th>
            <th>Giá nhập</th>
            <th>Số lượng nhập</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Product.Name</td>
                <td align="left">
                    <span class="btn btn-default btn-update-price">
                        <i class="fa fa-edit text-primary"></i>
                    </span>
                    <span class="span-price" data-price="@item.Product.Price">@(item.Product.Price.ToString("#,##")) đ</span>
                    <div class="hidden div-price">
                        <input value="@item.Product.Price" class="input-price" />
                        <span class="btn btn-primary btn-update-price-ajax" data-id="@item.ProductID">Cập nhật</span>
                    </div>
                </td>
                <td align="left">
                    <span class="btn btn-default btn-update-promotion">
                        <i class="fa fa-edit text-primary"></i>
                    </span>
                    <span class="span-promotion" data-promotion="@item.Product.Promotion">@(item.Product.Promotion.ToString("#,##")) đ</span>
                    <div class="hidden div-promotion">
                        <input value="@item.Product.Promotion" class="input-promotion" />
                        <span class="btn btn-primary btn-update-promotion-ajax" data-id="@item.ProductID">Cập nhật</span>
                    </div>
                </td>
                <td align="left">@item.ImportPrice.ToString("#,##") đ</td>
                <td>@item.Count</td>
            </tr>
        }
        <tr>
            <td colspan="3"></td>
            <td colspan="2">
                <p>
                    Tổng cộng: @(sum.ToString("#,##"))đ
                </p>
            </td>
        </tr>
    </tbody>
</table>

@section script{
    <script src="~/Assets/Admin/js/MyScript/ImportBillDetailScript.js"></script>
}

